In [1]:
import pandas as pd
import numpy as np

In [2]:
db = pd.read_csv("play_tennis.csv")

In [3]:
db.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [5]:
db.drop(columns=['day'],inplace=True)

In [6]:
db.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [8]:
db['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [9]:
pYes = 9/14
pNo = 5/14

In [10]:
#problem 
# OUTLOOK = sunny, temp= hot, humidity = normal, wind = strong
# play or no play?

In [11]:
# first we calculated the probablity of playing and not playing
# now the formula for calculating will be

# for playing
# play = pYes*pSunnyYes*pHotYes*pNormalYes*pStrongYes

# for not playing
# not play = pNo*pSunnyNo*pHotNo*pNormalNo*pStrongNo

In [12]:
# prob of Outlook

pd.crosstab(db['outlook'],db['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [13]:
pOvercastNo = 2/5
pRainNo = 2/5
pSunnyNo = 3/5

pOvercastYes = 4/9
pRainYes = 3/9
pSunnyYes = 2/9

In [15]:
# temp

pd.crosstab(db['temp'],db['play'],margins=True)

play  No  Yes  All
temp
Cool   1    3    4
Hot    2    2    4
Mild   2    4    6
All    5    9   14

In [16]:
pCoolNo = 1/5
pHotNo = 2/5
pMildNo = 2/5

pCoolYes = 3/9
pHotYes = 2/9
pMildYes = 4/9

In [17]:
#humidity

pd.crosstab(db['humidity'],db['play'],margins=True)

play      No  Yes  All
humidity
High       4    3    7
Normal     1    6    7
All        5    9   14

In [18]:
pHighNo = 4/5
pNormalNo = 1/5

pHighYes = 3/9
pNormalYes = 6/9

In [19]:
# wind
pd.crosstab(db['wind'],db['play'],margins=True)

play    No  Yes  All
wind
Strong   3    3    6
Weak     2    6    8
All      5    9   14

In [20]:
pStrongNo = 3/5
pWeakNo = 2/5

pStrongYes = 3/9
pWeakYes = 6/9

In [22]:
# for playing
# play = pYes*pSunnyYes*pHotYes*pNormalYes*pStrongYes
play = pYes*pSunnyYes*pHotYes*pNormalYes*pStrongYes
print(play*100)

# for not playing
# not play = pNo*pSunnyNo*pHotNo*pNormalNo*pStrongNo
not_play = pNo*pSunnyNo*pHotNo*pNormalNo*pStrongNo
print(not_play*100)

0.7054673721340388
1.0285714285714285

In [ ]:
#We found the probability of playing and not playing and we can clearly see that the probablity of not_play is higher so the match cant be played