In [1]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_csv('covid_toy.csv')

In [6]:
df.sample(10)

    age  gender  fever   cough       city has_covid
15   70    Male  103.0  Strong    Kolkata       Yes
53   83    Male   98.0    Mild      Delhi       Yes
4    65  Female  101.0    Mild     Mumbai        No
7    20  Female    NaN  Strong     Mumbai       Yes
33   26  Female   98.0    Mild    Kolkata        No
48   66    Male   99.0  Strong  Bangalore        No
16   69  Female  103.0    Mild    Kolkata       Yes
41   82    Male    NaN    Mild    Kolkata       Yes
79   48  Female  103.0    Mild    Kolkata       Yes
35   82  Female  102.0  Strong  Bangalore        No

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),
                                                df['has_covid'],
                                                test_size=0.2)

In [8]:
from sklearn.compose import ColumnTransformer

In [9]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [11]:
transformer.fit_transform(X_train).shape

D:\New folder\New folder\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [12]:
transformer.transform(X_test).shape

(20, 7)